{% extends "auctions/layout.html" %}

{% block body %}

    <script type="text/javascript">
        function change() {
            location.href = "{% url 'add_watchlist' listing.id %}"
        }
    </script>

    <h2 class="row m-2 align-middle">{{ listing.name }}</h2>

    <button class="row m-2 btn btn-outline-secondary" style="height:50px;" type="button" onclick="change()">
        <img id="image" class="align-middle" style="height:95%" src=
            "
            {% if is_in_watchlist %}
                static/auctions/black.png
            {% else %}
                static/auctions/white.png
            {% endif %}">
    </button>

    <img class="row mx-auto" style="height:250px" src="{{ listing.image_url }}">

    <p class="row m-2">{{ listing.description }}</p>

    <h3 id="price" class="row m-2">${{ listing.base_price|stringformat:".2f" }}</h3>

    <br>

    <p class="ml-2"><small>
        (Bids count: {{ listing.bids.count }}) -

        {% if user == winner %}
            You are the current winner.
        {% else %}
            The user {{ winner }} is the current winner.
        {% endif %}

    </small></p>

    <form class="m-2" action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="bid_price" placeholder="Your Bid" min="{{ listing.base_price|add:'1' }}" step=".01">
        <input type="submit" value="Place Bid">
    </form>

    <br>

    <h3 class="m-2">Details</h3>

    <ul>
        <li>Created by: <strong>{{ listing.user }}</strong></li>
    </ul>





{% endblock %}
