{% extends "auctions/layout.html" %}

{% block body %}

    <script type="text/javascript">
        function change() {
            location.href = "{% url 'add_watchlist' listing.id %}"
        }

        // if (user == winner && !listing.is_active) {
        //     window.alert("You won the auction.");
        // } else if (user != winner && !listing.is_active) {
        //     window.alert("You didn't won this time.")
        // }
    </script>

    <h2 class="row m-2 align-middle">{{ listing.name }}</h2>

    <button class="row m-2 btn btn-outline-secondary" style="height:50px;" type="button" onclick="change()">
        <img id="image" class="align-middle" style="height:95%" src=
            "
            {% if is_in_watchlist %}
                static/auctions/black.png
            {% else %}
                static/auctions/white.png
            {% endif %}">
    </button>

    <img class="row mx-auto" style="height:250px" src="{{ listing.image_url }}">

    <p class="row m-2">{{ listing.description }}</p>

    <h3 id="price" class="row m-2">${{ listing.base_price|stringformat:".2f" }}</h3>

    <br>

    {% if user != listing.user %}

        <p class="ml-2"><small>
            (Bids count: {{ listing.bids.count }}) -

            {% if user == winner %}
                You are the current winner.
            {% else %}
                The user {{ winner }} is the current winner.
            {% endif %}

        </small></p>

        <form class="m-2" action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="bid_price" placeholder="Your Bid" min="{{ listing.base_price|add:'1' }}" step=".01">
            <input type="submit" value="Place Bid">
        </form>

        <br>

    {% else %}

        <a href="{% url 'close' listing.id %}">
            <button type="button" class="btn btn-danger m-3">Close auction</button>
        </a>

    {% endif %}

    <h3 class="m-2">Details</h3>

    <ul>
        <li>Created by: <strong>{{ listing.user }}</strong></li>
        <li>Category: {{ listing.get_category_display }}</li>
    </ul>

    <br>

    <h3 class="m-2">Comments</h3>

    <ul>
        {% for comment in listing.comments.all %}
            <li>{{ comment.author }}: {{ comment.text }}</li>
        {% endfor %}
    </ul>

    <style media="screen">
        #id_text {
            height: 60px;
        }
    </style>

    <form class="form" action="{% url 'add_comment' listing.id %}" method="post">
        {% csrf_token %}
        <table class="ml-3">
            <!-- <tr>
                <td>{{ form.text.label_tag }}</td>
            </tr> -->
            <tr>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-success" style="width:25%;display:block" type="submit" value="Send">
                </td>
            </tr>
        </table>

    </form>

    <br><br><br>

{% endblock %}
