{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Watchlist</h2>

    {% for listing in listings %}

        <div class="card mb-3 mx-auto" style="max-width: 700px;">
            <a class="text-decoration-none" href="{% url 'listing' listing.id %}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ listing.image_url }}" class="card-img" style="height:200px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ listing.name }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <h3 class="card-text">${{ listing.base_price }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% empty %}
            <h4 class="m-5 text-muted">Your watchlist is empty.</h4>

    {% endfor %}

{% endblock %}
